
[submodule "Ricardo_OS/Ricardo_OS/lib/librnp"]
	path = Ricardo_OS/Ricardo_OS/lib/librnp
	url = git@github.com:icl-rocketry/librnp.git
	ignore = dirty
[submodule "Ricardo_OS/Python_backend/pylibrnp"]
	path = Ricardo_OS/Python_backend/pylibrnp
	url = git@github.com:icl-rocketry/pylibrnp.git
	ignore = dirty

[submodule "Ricardo_OS/Python_backend/apps/udpAdapter/pylibrnp"]
	path = Ricardo_OS/Python_backend/apps/udpAdapter/pylibrnp
	url = git@github.com:icl-rocketry/pylibrnp.git
