<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="x_window" content={{x_window}}>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Flask data viz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body { margin: 0; padding: 0; }

        .chart1 { position: absolute; top: 0; bottom: 0; width: 100%; }
    </style>
</head>



<body>
<div class = "chart1">
    <canvas id="orientation"></canvas>
</div>


<div>
    <canvas id="system"></canvas>
</div>
<div>
    <canvas id="position"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='graph.js') }}"></script>

<!-- <script src="../static/graph.js"></script> -->


</body>
</html>
<!-- 
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ricardo Dashboard</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">

            </div>
        </div>
    </div>
</div>
</body>
</html> -->
